* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: fresh;
    src: url(../fonts/freshwost.otf);
}

body {
    font-family: fresh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    padding: 5em 10em; /*perfect for half screen*/
    gap: 2em;
}

#versusContainer {
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#versusContainer>div {
    /* border: 1px red dashed; */
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#versusContainer>div:nth-child(1) > img {
    content: url("../images/brain_start.png");
    width: 200px ;
    height: 200px;
}

#versusContainer>div:nth-child(2) > img {
    content: url("../images/comp_start.png");
    width: 200px ;
    height: 200px;
}
#playerSelectionContainer {
    /* border: 1px green solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.playerSelectionButton {
    flex: 1 1 0;
    padding: 1em 1em;
    font-family: fresh;
    font-weight: 600;
    font-size: x-large;
    background-color: #98E1D2;
    border-radius: 2%;
    border: 2px black solid;
}
.playerSelectionButton:hover{
    background-color: #FFCCDA;
    /* border-color: white; */
}

.playerSelectionButton:active{
    background-color: #FF9DB5;
    /* border-color: white; */
    color: white;
}
#round-hist {
    opacity: 0;
}